<!-- Wrapper-->
<!-- <div id="wrapper"> -->

  <!-- Left navigation bar -->
  <!-- <app-navbar></app-navbar> -->

  <!-- Main page wrapper -->
  <!-- <div id="page-wrapper" class="gray-bg"> -->

    <!-- Top navigation -->
    <!-- <app-sidebar></app-sidebar> -->

    <!-- Main view/routes wrapper-->
    <router-outlet></router-outlet>

    <!-- Footer -->
    <!-- <app-footer></app-footer> -->

  <!-- </div> -->
  <!-- End page wrapper-->

<!-- </div> -->
<!-- End wrapper-->